<div class ="main posts-show">
  <h2>投稿詳細ページ</h2>
    <div class ="container">
        <div class ="posts-show-item">
               <%= @post.content %>
        </div>
    </div>
    <div class="post-menus">
        <%=link_to("編集","/posts/#{@post.id}/edit")%>
    </div>
    
</div>